/* ===========================
        GLOBAl RESET
=========================== */
*, *::before, *::after {
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }
body { margin: 0; }

img, video {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ===========================
        ANIMATION
=========================== */
@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIntoYou {
    from { opacity: 0; }
    to {opacity: 1 }
}

.fadeInDown { opacity: 0; animation: fadeInDown 1s ease forwards; }
.fadeIntoYou { opacity: 0; animation: fadeIntoYou 1.5s ease forwards; }
.delay1 { animation-delay: 0.15s; }
.delay2 { animation-delay: 0.30s; }
.delay3 { animation-delay: 0.45s; }
.delay4 { animation-delay: 0.60s; }
/* ===========================
        CLASS DEFINITIONS
=========================== */
.hyperlink {transition: border-bottom-width 150ms;}
.hyperlink:hover {
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.hover-button {transition: background-color 250ms, color 250ms; border-color: black;}
.hover-button:hover {
    background-color: black;
    color: white;
}